@import "tailwindcss";

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}

.animate-fade-slide {
  animation: fadeSlide 2.5s ease forwards;
}
